* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #fafafa;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    background-color: #fafafa;
}

a {
    text-decoration: none;
}

li a {
    background-color: #fafafa;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.box-container {
    width: 1200px;
    display: flex;
    justify-content: center;
}
/* lateral png-celular */
.logo-img img{
width: 358px;
margin-right: 50px;
margin-top: 40px;
}
/* lateral login */
.login {
    margin-top: 50px;
    width: 450px;
    text-align: center;
    display: block;
}

form {
    border: 1px solid #e6e6e6;
    background-color: #fff;
}

form, span, .esqueceuSenha, .separador, .separador p {
    background-color: #fff;
}
.login img {
    margin-top: 50px;
    margin-bottom: 40px;
    width: 230px;
    background-color: #fff;
}

input {
    padding: 16px 0px 7px 9px;
    font-size: 14px;
    width: 80%;
    background: #fafafa;
    border-radius: 3px;
    border: 1px solid #efefef;
    margin-top: 8px;
}

.login-btn {
    margin-top: 14px;
    text-align: center;
    width: 80%;
    padding: 0.5rem;
    border: 1px solid transparent;
    background-color: #3897f0;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
  }

.separador {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    color: #999;
    margin-top: 16px;
  }
  
.separador .linha {
    height: 1.2px;
    width: 40%;
    background-color: #dbdbdb;
  }

.other {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
  }
  
.fb-login-btn {
    margin: 1rem;
    border: 0;
    cursor: pointer;
    font-size: 18px;
    color: #385185;
    font-weight: 600;
    background: transparent;
  }
  
.fb-icon {
    color: #385185;
    font-size: 1rem;
    background-color: #fff;
  }

.esqueceuSenha {
    font-size: 16px;
    color: #385185;
    margin-bottom: 22px;
}

.box {
    border: 1px solid #e6e6e6;
    background-color: #fff;
    margin-top: 30px;
    padding: 30px;
}

.box p, a {
    background-color: #fff;
}

.box-2 {
    margin-top: 20px;
}
/* Icones store */

.icons-store {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.applestore img {
    width: 180px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 8px;
}

.playstore img {
 width: 180px;
 margin-top: 0;
 margin-bottom: 0;
}

/* footer */
.links-topo {
    margin-top: 53px;
}

.links-topo ul,
.links-meio ul,
.links-fim ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin-top: 7px;
}

.links-topo ul li a,
.links-meio ul  li a,
.links-fim ul li a,
.links-fim ul li {
    display: block;
    font-size: 15px;
    color: #9E9E9E;
    margin-right: 15px;
}

.links-fim {
    margin-top: 15px;
    margin-bottom: 50px;
}

/* RESPONSIVO */
@media (max-width: 1000px) {
    .logo-img img {
        display: none;
    }

}

@media (max-width: 500px) {

    input::placeholder {
        width: 100%;
        font-size: 12px;
    }
    .box-container {
        width: 100%;
    }

    .login {
        width: 80%;
        justify-content: center;
    }

    .login img {
        width: 60%;
        padding: 10px;
        margin-bottom: 10px;
    }

    .icons-store {
    width: 100%;
    }

    .applestore img {
        width: 140px;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 8px;
    }
    
    .playstore img {
     width: 140px;
     margin-top: 0;
     margin-bottom: 0;
    }

}